img { width: 15%;
margin-right: 20px;
}

img:after {
content: "";
display: block;
padding-bottom: 100%;
}
ul {
    padding-left: 0;
}

li {
    list-style: none;
    display: block;
    border-bottom: 1px solid #ccc;
}